<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="visualized_neural_network.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="visualized_neural_network.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <visualized_neural_network.Properties.Settings>
                <setting name="NetworksPath" serializeAs="String">
                        <value>\Visualized Neural Network\Networks\</value>
                </setting>
                <setting name="DataSetsPath" serializeAs="String">
                        <value>\Visualized Neural Network\DataSets\</value>
                </setting>
        </visualized_neural_network.Properties.Settings>
        <visualized_neural_network.Settings>
                <setting name="DataSetsPath" serializeAs="String">
                        <value>C:\Users\Cyril\AppData\Roaming\Visualized Neural Network\DataSets</value>
                </setting>
                <setting name="NetworksPath" serializeAs="String">
                        <value>C:\Users\Cyril\AppData\Roaming\Visualized Neural Network\Networks</value>
                </setting>
        </visualized_neural_network.Settings>
    </userSettings>
</configuration>